@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap');
*, *::after, *::before{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   /* border: 2px solid #000; */
   scroll-behavior: smooth;
}

:root{
   /* primary */
   --primary-color: #ffffff;
   --secondary-color: #212121;
   /* nav */
   --third-color: #000000;
   --fourteenth-color: #ffffff;
   --fifteenth-color: #000000;
   --sixteenth-color: #60efff;
   /* nav active */
   --eighteenth-color: #00ff87;
   --nineteenth-color: #000000;
   /* arrow */
   --fourth-color: #40e640;
   /* h1*/
   --Fifth-color: #000000;
   --sixth-color: linear-gradient(-45deg, #60efff, #00ff87);
   /* border */
   --seventh-color: #dcdcdc;
   --seventeenth-color: #60efff;
   /* shadow */
   --eighth-color: #f0f0f0;
   /* status */
   --ninth-color: #454545;
   --tenth-color: #60efff;
   /* icon status, pragraf*/
   --eleventh-color: #8a8a8a;
   /* lebih lanjut */
   --twelfth-color: linear-gradient(-45deg, #60efff, #00ff87);
   /* line footer */
   --thirteenth-color: rgb(194, 194, 194);
}

.dark-theme {
   /* primary */
   --primary-color: #000000;
   --secondary-color: #ffffff;
   /* nav */
   --third-color: #ffffff;
   --fourteenth-color: #000000;
   --fifteenth-color: #60efff;
   --sixteenth-color: #000000;
   /* nav active */
   --eighteenth-color: #000000;
   --nineteenth-color: #00ff87;
   /* arrow */
   --fourth-color: #00c8ff;
   /* h1*/
   --Fifth-color: #000000;
   --sixth-color: linear-gradient(-45deg, #60efff, #0061ff);
   /* border */
   --seventh-color: #585858;
   /* shadow */
   --eighth-color: #000000;
   /* status */
   --ninth-color: #60efff;
   --tenth-color: #000000;
   /* icon status, pragraf*/
   --eleventh-color: #d1d1d1;
   /* lebih lanjut */
   --twelfth-color: linear-gradient(-45deg, #60efff, #0061ff);
   /* line footer */
   --thirteenth-color: rgb(71, 71, 71);
}

body{
   font-family: 'Quicksand', sans-serif;
   display: flex;
   flex-direction: column;
   width: 100%;
   background-image: url("/assets/images/polygon-scatter-haikei.svg");
   background-repeat: no-repeat;
   background-position: right top 140px;
   background-color: var(--primary-color);
}

nav {
   width: 100%;
   z-index: 999;
   position: sticky;
   top: 0;
   background-color: var(--primary-color);
   box-shadow: 1px 1px var(--eighth-color);
}

nav .list-item {
   width: 100%;
   max-width: 70%;
   margin-inline: auto;
   padding-block: 1rem;
   justify-content: space-between;
   display: flex;
}

nav .list-item ul {
   display: flex;
   gap: 2rem 1rem;
   margin-block-start: .9rem;
}

nav .list-item li {
   list-style-type: none;
   padding-inline-end: .8rem;
}

nav .list-item li a {
   text-decoration: none;
   font-size: 1.0em;
   font-weight: 500;
   transition: all .2s ease-in-out;
   font-weight: 700;
   color: var(--third-color);
   background-color: var(--fourteenth-color);
}

nav .list-item li a.active {
   background-color: var(--eighteenth-color);
   color: var(--nineteenth-color);
}

nav .list-item li:hover a {
   color: var(--fifteenth-color);
   background-color: var(--sixteenth-color);
}

nav .list-item .mode button {
   background-color: var(--primary-color);
   border: 1px solid var(--seventh-color);
   color: var(--secondary-color);
   cursor: pointer;
   display: inline-flex;
   border-radius: 10px;
}

nav .list-item .mode button i {
   padding: .4em .6em;
   font-size: 1.5em;
   color:var(--secondary-color);
}

nav .list-item .mode button:hover {
   border: 1px solid var(--seventeenth-color);
}

nav .list-item .mode button i:hover {
   color:var(--seventeenth-color);
}

header {
   max-width: 70%;
   width: 100%;
   margin-inline: auto;
   height: 90vh;
   padding-block-start: 4.5em;
}

header h1 {
   font-size: 3.5em;
   color: var(--secondary-color);
}

header h1 span {
   display: inline-block;
   font-size: 72px;
   background: var(--sixth-color);
   -webkit-background-clip: transparent;
   -webkit-text-fill-color: initial;
 }
 
 /* Gaya untuk mode gelap */
.dark-theme header h1 span {
   background: var(--sixth-color);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

header p {
   max-width: 700px;
   margin-block-start: .9em;
   font-size: 1.3em;
   color: var(--secondary-color);
}

header p + a {
   display: inline-block;
   margin-block-start: 1.8em;
   font-family: 'Quicksand', sans-serif;
   text-decoration: none;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   cursor: pointer;
   padding: .3em .9em;
   font-size: 1.1em;
   position: relative;
   border: 2px solid var(--primary-color);
   font-weight: 700;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
}

header a:hover{
   transform: scale(1.05);
}

header .about:before {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: var(--twelfth-color);
   transform: translate3d(0px, 3px, 0) scale(1.1);
   filter: blur(10px);
   opacity: 40.9;
   transition: opacity 0.3s;
   border-radius: inherit;
}

header .about::after {
   content: "";
   z-index: -1;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: inherit;
}

header .arrow {
   position:absolute;
   left: 50%;
}

header .arrow i {
   color: var(--secondary-color);
   position:absolute;
   top: 85vh;
   font-size: 3em;
}

header .arrow i:hover {
   color: var(--fourth-color);
}

main {
   max-width: 70%;
   width: 100%;
   margin-inline: auto;
   padding-block: 1rem;
   flex: 1;
   display: flex;
   flex-direction: column;
}

#blog h1 {
   margin-block-end: .6em;
}

#blog h1 span, #project h1 span, #about h1 span{
   display: inline-block;
   margin-block-start: 2.5em;
   font-size: 1.2em;
   background: var(--sixth-color);
   -webkit-background-clip: transparent;
   -webkit-text-fill-color: initial;
}

.dark-theme #blog h1 span, .dark-theme #project h1 span, .dark-theme #about h1 span {
   background: var(--sixth-color);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

#blog .blog-content{
   display: flex;
   gap: 2rem 1rem;
   flex-wrap: wrap;
   justify-content: space-between;
}

#blog .blog-content .post-item {
   flex-basis: 32%;
   border: 1px solid var(--seventh-color);
   height: 21.8em;
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   overflow:hidden;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
}

#blog .blog-content .post-item:hover {
   transform: scale(1.02);
   box-shadow: 1px 1px var(--eighth-color);
}

#blog .blog-content .post-item a{
   text-decoration: none;
   color: var(--secondary-color);
}

#blog .blog-content .post-item img {
   width: 100%;
   height: 130px;
   object-fit: cover;
   border-top-right-radius: 7px;
   border-top-left-radius: 7px;
}

#blog .blog-content .post-item .post-body {
   padding: .9em;
   display: flex;
   flex-direction: column;
   gap: 0.8rem 0.9rem;
}

#blog .blog-content .post-item .post-title {
   color: var(--secondary-color);
   font-weight: bolder;
   font-size: 1.1em;
}

#blog .blog-content .post-item .post-status {
   display: flex;
   gap: 3rem 1rem;
   font-size: .9em;
}

#blog .blog-content .post-item .post-status i {
   color: var(--eleventh-color);
}

#blog .blog-content .post-item .post-status span{
   background-color: var(--tenth-color);
   color: var(--ninth-color);
   font-weight: bold;
}

#blog .blog-content .post-item .post-description {
   color: var(--eleventh-color);
   font-size: .9em;
}

#blog .blog-content > a{
   display: inline-block;
   text-decoration: none;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   cursor: pointer;
   padding: .3em .9em;
   font-size: 1.1em;
   position: relative;
   border: 1px solid var(--seventh-color);
   font-weight: 700;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
   margin-block-end: 4.4em;
}

#blog .blog-content > a:hover{
   transform: scale(1.04);
   box-shadow: 2px 2px var(--eighth-color);
}

#project h1 {
   margin-block-end: .6em;
}

#project .project-content {
   display: flex;
   gap: 2rem 1rem;
   flex-wrap: wrap;
   justify-content: space-between;
}

#project .project-content .project-item {
   flex-basis: 32%;
   border: 1px solid var(--seventh-color);
   height: 21.8em;
   border-radius: 7px;
   overflow:hidden;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
   padding: 1.2em;
}

#project .project-content .project-item:hover{
   transform: scale(1.02);
   box-shadow: 1px 1px var(--eighth-color);
}

#project .project-content .project-item a {
   text-decoration: none;
   color: var(--secondary-color);
   display: flex;
   flex-direction: column;
   gap: 1rem 1rem;
}


#project .project-content .project-item .project-title {
   color: var(--secondary-color);
   font-weight: bolder;
   font-size: 1.1em;
}

#project .project-content .project-item .project-description {
   color: var(--eleventh-color);
   font-size: .9em;
}

#project .project-content .project-item .project-tech {
   display: flex;
   justify-content: flex-start;
   gap: .6rem .6rem;
}

#project .project-content .project-item .project-tech svg {
   filter: grayscale(100%);
   height: 1.3em;
   width: 1.9em;
   fill: var(--secondary-color);
}


#project .project-content .project-item img {
   width: 100%;
   height: 9em;
}

#project .project-content .project-item .see-more {
   font-size: .9em;
   font-weight: 700;
   position: relative;
   color: var(--secondary-color);
}

#project .project-content .project-item .see-more:after{
   content: '';
   position: absolute;
   width: 40%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background: var(--twelfth-color);
   transform-origin: bottom right;
   transition: transform 0.50s ease-out;
   bottom: -5px;
}
 
#project .project-content .project-item:hover .see-more:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }

 #project .project-content > a{
   display: inline-block;
   text-decoration: none;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   cursor: pointer;
   padding: .3em .9em;
   font-size: 1.1em;
   position: relative;
   border: 1px solid var(--seventh-color);
   font-weight: 700;
   transform: translateZ(0) scale(1);
   transition: transform .2s;
   margin-block-end: 4.4em;
}

#project .project-content > a:hover{
   transform: scale(1.04);
   box-shadow: 2px 2px var(--eighth-color);
}

main .about-container{
   display: flex;
   margin-block-end: 6em;
}

.about-container #about {
   flex-basis: 75%;
}

.about-container aside {
   flex-basis: 25%;
}

.about-container aside img {
   padding-block-start: 6.5em;
   width: 100%;
}

#about h2 {
   font-size: 2.5em;
   color: var(--secondary-color);
}

#about P {
   margin-block-start: .9em;
   font-size: 1em;
   color: var(--secondary-color);
}

footer {
   padding-block-start: 2em;
   border-top: 1px solid var(--thirteenth-color);
   max-width: 70%;
   width: 100%;
   margin-inline: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
}

footer .reach-me h3 {
   font-size: .9em;
   color: var(--eleventh-color);
   text-align: center;
}

footer .reach-me .social-media {
   margin-block-start: .3em;
   margin-block-end: .8em;
   display: flex;
   justify-content: center;
   gap: .7em .7em;
   font-size: 1.6em;
}

footer .reach-me .social-media a {
   color: var(--eleventh-color);
}

footer .reach-me .social-media a:hover {
   color: var(--third-color);
}

footer .copyright {
   color: var(--secondary-color);
   font-size: 1em;
   margin-block-end: 1.2em;
}